# Application
NODE_ENV="development"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_APP_NAME="Next.js Starter"

# Database
DATABASE_URL="postgresql://user:password@localhost:5432/next_branch_dev"

# Better Auth
BETTER_AUTH_SECRET="your-generated-secret"
BETTER_AUTH_URL="http://localhost:3000"

# Authentication Routes
NEXT_PUBLIC_LOGIN_URL="/login"
NEXT_PUBLIC_DASHBOARD_URL="/dashboard"
NEXT_PUBLIC_UNAUTHORIZED_URL="/unauthorized"

# Admin Ids
BETTER_AUTH_ADMIN_IDS="1" # Comma-separated list of user IDs that should have admin access
